body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* 상단 메뉴 스타일 */
.header {
    text-align: center;
    padding: 20px 0;
}

.site-name {
    font-size: 2em;
    color: #333;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.links {
    display: flex;
}

.menu-link {
    margin-right: 15px;
    color: white;
    text-decoration: none;
}

.auth {
    display: flex;
    align-items: center;
}

.input-field {
    margin-right: 5px;
    padding: 5px;
}

.login-button,
.signup-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}

/* 홍보 배너 스타일 */
.banner-container {
    background-color: #ffefba;
    text-align: center;
    padding: 15px;
    font-size: 1.2em;
    color: #333;
}

/* 네비게이션 바 스타일 */
.category-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 0;
}

.categories {
    display: flex;
}

.category-link {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* 검색창 스타일 */
.search {
    margin-left: 20px;
}

.search-input {
    padding: 5px;
}

.search-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

/* 카테고리 섹션 스타일 */
.category-section {
    padding: 20px;
}

.category-content {
    display: none;
    padding: 10px;
    border-top: 2px solid #007bff;
    display: none;
}

.category-content.active {
    display: block;
    /* 활성화된 카테고리만 표시 */
}

.category-link:hover {
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

/* .banner {
    animation: fadeIn 2s ease-in-out infinite alternate;
}

@keyframes fadeIn {
    0% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
} */

.club-card {
    border: 2px solid #007bff;
    /* 테두리 색상을 파란색으로 설정 */
    border-radius: 8px;
    /* 모서리를 둥글게 */
    margin: 15px;
    /* 카드 간 간격 추가 */
    padding: 10px;
    /* 카드 내부 여백 추가 */
    background-color: #fff;
    /* 카드 배경색을 흰색으로 */
    text-align: center;
    /* 내용물 가운데 정렬 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* 그림자 추가 */
}

.club-card img {
    max-width: 250px;
    /* 이미지를 카드 크기에 맞게 조정 */
    height: 200px;
    /* 비율을 유지하며 크기 조정 */
    border-radius: 5px;
    /* 이미지 모서리 둥글게 */
    margin-bottom: 10px;
    /* 이미지와 텍스트 사이 여백 */
}

.club-card h3 {
    font-size: 1.2em;
    /* 제목 크기 조정 */
    color: #333;
    /* 제목 색상 */
}

.club-card p {
    font-size: 0.9em;
    /* 설명 텍스트 크기 조정 */
    color: #555;
    /* 설명 텍스트 색상 */
}